@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}
@section styles{ 
    <style>
        .first_image {
            height: 200px;
            max-height: 200px;
            object-fit: contain;
        }
    </style>
}

<h4>Products by category</h4>

<div class="row">
    @foreach (var c in Model)
    {
    <div class="col s6 m3">
        <div class="card">
            <div class="card-image">
                <img class="materialboxed first_image" src="@c.Image">
            </div>
            <div class="card-content">
                <h4 class="card-title">@c.CategoryName</h4>
            </div>
            <div class="card-action">
                <a asp-action="ProductView" class="btn btn-small" asp-controller="View" asp-route-id="@c.CategoryId">All Products</a>
            </div>
        </div>
    </div>
            
     }
</div>

@section scripts{ 
   <script>
       $(document).ready(() => {
           $('.materialboxed').materialbox();
       });
    </script>
}
